.small-text{
    font-size: 0.9rem;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.cropperbox{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 600px;
}

.pannel-tools{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5%;
}

/* A ne pas oublier lorsque l'on implémente un canvas*/
#canvas{
    display: block;
    max-width: 100%;
}

button{
    background-color: #151577;
    color: white;
    width: 100px;
    height: 50px;
}